USE [proyecto_farmaceutica]
GO
/****** Object:  User [usuario_farmaceutica]    Script Date: 13/6/2025 18:28:52 ******/
CREATE USER [usuario_farmaceutica] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [usuario_farmaceutica]
GO
/****** Object:  Table [dbo].[accion_terapeutica]    Script Date: 13/6/2025 18:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accion_terapeutica](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_accion_terapeutica] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[administracion_via]    Script Date: 13/6/2025 18:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administracion_via](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_administracion_via] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[administrador]    Script Date: 13/6/2025 18:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administrador](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
 CONSTRAINT [PK_administrador] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_factura]    Script Date: 13/6/2025 18:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_factura](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_factura] [int] NOT NULL,
	[id_farmaco] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[subtotal] [decimal](9, 2) NOT NULL,
	[total] [decimal](9, 2) NOT NULL,
 CONSTRAINT [PK_detalle_factura] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado]    Script Date: 13/6/2025 18:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](10) NOT NULL,
 CONSTRAINT [PK_estado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado_factura]    Script Date: 13/6/2025 18:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado_factura](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_estado_factura] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factura]    Script Date: 13/6/2025 18:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nro_factura] [char](20) NULL,
	[fecha_emision] [date] NOT NULL,
	[hora_emision] [time](2) NOT NULL,
	[id_vendedor] [int] NOT NULL,
	[id_cliente] [int] NULL,
	[id_metodo_pago] [int] NOT NULL,
	[id_estado_factura] [int] NOT NULL,
 CONSTRAINT [PK_factura] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[farmaceutico]    Script Date: 13/6/2025 18:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[farmaceutico](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[cuil_farmaceutico] [varchar](13) NOT NULL,
 CONSTRAINT [PK_farmaceutico] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[farmaco]    Script Date: 13/6/2025 18:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[farmaco](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_comercial] [varchar](70) NOT NULL,
	[codigo_farmaco] [varchar](50) NOT NULL,
	[id_principio_activo] [int] NOT NULL,
	[id_accion_terapeutica] [int] NOT NULL,
	[id_forma_farmaceutica] [int] NOT NULL,
	[id_administracion_via] [int] NOT NULL,
	[id_origen_fuente] [int] NOT NULL,
	[laboratorio] [varchar](70) NOT NULL,
	[codigo_barras] [char](13) NOT NULL,
	[fecha_vencimiento] [date] NOT NULL,
	[precio_unidad] [decimal](9, 2) NOT NULL,
	[requiere_receta] [char](2) NOT NULL,
	[stock] [int] NOT NULL,
	[id_proveedor] [int] NOT NULL,
 CONSTRAINT [PK_farmaco] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forma_farmaceutica]    Script Date: 13/6/2025 18:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forma_farmaceutica](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_forma_farmaceutica] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gerente]    Script Date: 13/6/2025 18:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gerente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[cuil_gerente] [varchar](13) NOT NULL,
 CONSTRAINT [PK_gerente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[metodo_de_pago]    Script Date: 13/6/2025 18:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[metodo_de_pago](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_metodo_de_pago] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[origen_fuente]    Script Date: 13/6/2025 18:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[origen_fuente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_origen_fuente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permiso]    Script Date: 13/6/2025 18:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permiso](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_permiso] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posicion_iva]    Script Date: 13/6/2025 18:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posicion_iva](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_posicion_iva] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[principio_activo]    Script Date: 13/6/2025 18:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[principio_activo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_principio_activo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedor]    Script Date: 13/6/2025 18:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](70) NOT NULL,
	[nro_telefono] [char](13) NULL,
	[email] [nvarchar](70) NOT NULL,
	[direccion] [varchar](70) NOT NULL,
	[cuit] [char](13) NOT NULL,
	[id_posicion_iva] [int] NOT NULL,
	[persona_contacto] [varchar](70) NULL,
	[id_metodo_pago] [int] NULL,
 CONSTRAINT [PK_proveedor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol]    Script Date: 13/6/2025 18:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](13) NOT NULL,
 CONSTRAINT [PK_rol] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol_permiso]    Script Date: 13/6/2025 18:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol_permiso](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_rol] [int] NOT NULL,
	[id_permiso] [int] NOT NULL,
 CONSTRAINT [PK_rol_permiso] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol_usuario]    Script Date: 13/6/2025 18:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol_usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_rol] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
 CONSTRAINT [PK_rol_usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sesion]    Script Date: 13/6/2025 18:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sesion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[hora] [time](2) NULL,
	[acceso_nro] [int] NULL,
	[id_usuario] [int] NOT NULL,
 CONSTRAINT [PK_sesion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 13/6/2025 18:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](70) NOT NULL,
	[password] [varchar](70) NOT NULL,
	[nickname] [varchar](70) NOT NULL,
	[nombre] [varchar](70) NOT NULL,
	[apellido] [varchar](70) NOT NULL,
	[dni] [char](8) NOT NULL,
	[genero] [varchar](10) NULL,
	[nro_celular] [varchar](13) NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[id_estado] [int] NOT NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vendedor]    Script Date: 13/6/2025 18:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vendedor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[cuil_vendedor] [char](13) NOT NULL,
 CONSTRAINT [PK_vendedor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[accion_terapeutica] ON 

INSERT [dbo].[accion_terapeutica] ([id], [descripcion]) VALUES (1, N'Analgésico')
INSERT [dbo].[accion_terapeutica] ([id], [descripcion]) VALUES (2, N'Antiinflamatorio')
INSERT [dbo].[accion_terapeutica] ([id], [descripcion]) VALUES (3, N'Antibiótico')
SET IDENTITY_INSERT [dbo].[accion_terapeutica] OFF
GO
SET IDENTITY_INSERT [dbo].[administracion_via] ON 

INSERT [dbo].[administracion_via] ([id], [descripcion]) VALUES (1, N'Oral')
INSERT [dbo].[administracion_via] ([id], [descripcion]) VALUES (2, N'Intravenosa')
INSERT [dbo].[administracion_via] ([id], [descripcion]) VALUES (3, N'Tópica')
SET IDENTITY_INSERT [dbo].[administracion_via] OFF
GO
SET IDENTITY_INSERT [dbo].[detalle_factura] ON 

INSERT [dbo].[detalle_factura] ([id], [id_factura], [id_farmaco], [cantidad], [subtotal], [total]) VALUES (1, 9, 12, 1, CAST(200.00 AS Decimal(9, 2)), CAST(200.00 AS Decimal(9, 2)))
INSERT [dbo].[detalle_factura] ([id], [id_factura], [id_farmaco], [cantidad], [subtotal], [total]) VALUES (2, 10, 12, 1, CAST(200.00 AS Decimal(9, 2)), CAST(200.00 AS Decimal(9, 2)))
SET IDENTITY_INSERT [dbo].[detalle_factura] OFF
GO
SET IDENTITY_INSERT [dbo].[estado] ON 

INSERT [dbo].[estado] ([id], [descripcion]) VALUES (1, N'Activo')
INSERT [dbo].[estado] ([id], [descripcion]) VALUES (2, N'Inactivo')
SET IDENTITY_INSERT [dbo].[estado] OFF
GO
SET IDENTITY_INSERT [dbo].[estado_factura] ON 

INSERT [dbo].[estado_factura] ([id], [descripcion]) VALUES (1, N'Emitida')
SET IDENTITY_INSERT [dbo].[estado_factura] OFF
GO
SET IDENTITY_INSERT [dbo].[factura] ON 

INSERT [dbo].[factura] ([id], [nro_factura], [fecha_emision], [hora_emision], [id_vendedor], [id_cliente], [id_metodo_pago], [id_estado_factura]) VALUES (9, N'20250613124947      ', CAST(N'2025-06-13' AS Date), CAST(N'12:49:47.7000000' AS Time), 1, NULL, 1, 1)
INSERT [dbo].[factura] ([id], [nro_factura], [fecha_emision], [hora_emision], [id_vendedor], [id_cliente], [id_metodo_pago], [id_estado_factura]) VALUES (10, N'20250613131152      ', CAST(N'2025-06-13' AS Date), CAST(N'13:11:52.1800000' AS Time), 1, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[factura] OFF
GO
SET IDENTITY_INSERT [dbo].[farmaco] ON 

INSERT [dbo].[farmaco] ([id], [nombre_comercial], [codigo_farmaco], [id_principio_activo], [id_accion_terapeutica], [id_forma_farmaceutica], [id_administracion_via], [id_origen_fuente], [laboratorio], [codigo_barras], [fecha_vencimiento], [precio_unidad], [requiere_receta], [stock], [id_proveedor]) VALUES (11, N'Paracetamol 500mg', N'PARA500', 1, 1, 1, 1, 1, N'Lab A', N'1234567890123', CAST(N'2026-12-31' AS Date), CAST(150.00 AS Decimal(9, 2)), N'NO', 100, 3)
INSERT [dbo].[farmaco] ([id], [nombre_comercial], [codigo_farmaco], [id_principio_activo], [id_accion_terapeutica], [id_forma_farmaceutica], [id_administracion_via], [id_origen_fuente], [laboratorio], [codigo_barras], [fecha_vencimiento], [precio_unidad], [requiere_receta], [stock], [id_proveedor]) VALUES (12, N'Ibuprofeno 400mg', N'IBU400', 2, 2, 2, 2, 2, N'Lab B', N'1234567890124', CAST(N'2027-06-30' AS Date), CAST(200.00 AS Decimal(9, 2)), N'NO', 78, 3)
INSERT [dbo].[farmaco] ([id], [nombre_comercial], [codigo_farmaco], [id_principio_activo], [id_accion_terapeutica], [id_forma_farmaceutica], [id_administracion_via], [id_origen_fuente], [laboratorio], [codigo_barras], [fecha_vencimiento], [precio_unidad], [requiere_receta], [stock], [id_proveedor]) VALUES (13, N'Amoxicilina 500mg', N'AMOX500', 3, 3, 3, 3, 1, N'Lab C', N'1234567890125', CAST(N'2025-11-15' AS Date), CAST(350.00 AS Decimal(9, 2)), N'SI', 50, 3)
SET IDENTITY_INSERT [dbo].[farmaco] OFF
GO
SET IDENTITY_INSERT [dbo].[forma_farmaceutica] ON 

INSERT [dbo].[forma_farmaceutica] ([id], [descripcion]) VALUES (1, N'Comprimido')
INSERT [dbo].[forma_farmaceutica] ([id], [descripcion]) VALUES (2, N'Cápsula')
INSERT [dbo].[forma_farmaceutica] ([id], [descripcion]) VALUES (3, N'Jarabe')
SET IDENTITY_INSERT [dbo].[forma_farmaceutica] OFF
GO
SET IDENTITY_INSERT [dbo].[metodo_de_pago] ON 

INSERT [dbo].[metodo_de_pago] ([id], [descripcion]) VALUES (1, N'Efectivo')
INSERT [dbo].[metodo_de_pago] ([id], [descripcion]) VALUES (2, N'Tarjeta de crédito')
INSERT [dbo].[metodo_de_pago] ([id], [descripcion]) VALUES (3, N'Tarjeta de débito')
SET IDENTITY_INSERT [dbo].[metodo_de_pago] OFF
GO
SET IDENTITY_INSERT [dbo].[origen_fuente] ON 

INSERT [dbo].[origen_fuente] ([id], [descripcion]) VALUES (1, N'Nacional')
INSERT [dbo].[origen_fuente] ([id], [descripcion]) VALUES (2, N'Importado')
SET IDENTITY_INSERT [dbo].[origen_fuente] OFF
GO
SET IDENTITY_INSERT [dbo].[posicion_iva] ON 

INSERT [dbo].[posicion_iva] ([id], [descripcion]) VALUES (1, N'Responsable Inscripto')
INSERT [dbo].[posicion_iva] ([id], [descripcion]) VALUES (2, N'Monotributista')
INSERT [dbo].[posicion_iva] ([id], [descripcion]) VALUES (3, N'Exento')
SET IDENTITY_INSERT [dbo].[posicion_iva] OFF
GO
SET IDENTITY_INSERT [dbo].[principio_activo] ON 

INSERT [dbo].[principio_activo] ([id], [descripcion]) VALUES (1, N'Paracetamol')
INSERT [dbo].[principio_activo] ([id], [descripcion]) VALUES (2, N'Ibuprofeno')
INSERT [dbo].[principio_activo] ([id], [descripcion]) VALUES (3, N'Amoxicilina')
SET IDENTITY_INSERT [dbo].[principio_activo] OFF
GO
SET IDENTITY_INSERT [dbo].[proveedor] ON 

INSERT [dbo].[proveedor] ([id], [nombre], [nro_telefono], [email], [direccion], [cuit], [id_posicion_iva], [persona_contacto], [id_metodo_pago]) VALUES (3, N'Proveedor A', N'1122334455   ', N'proveedora@email.com', N'Calle 123', N'20-12345678-9', 1, N'Contacto A', 1)
INSERT [dbo].[proveedor] ([id], [nombre], [nro_telefono], [email], [direccion], [cuit], [id_posicion_iva], [persona_contacto], [id_metodo_pago]) VALUES (4, N'Proveedor B', N'1199887766   ', N'proveedorb@email.com', N'Avenida 456', N'20-87654321-0', 1, N'Contacto B', 1)
SET IDENTITY_INSERT [dbo].[proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([id], [email], [password], [nickname], [nombre], [apellido], [dni], [genero], [nro_celular], [fecha_nacimiento], [id_estado]) VALUES (2, N'vendedor@gmail.com', N'1234', N'vendedor', N'Juan', N'Pérez', N'12345678', N'M', N'1122334455', CAST(N'1990-01-01' AS Date), 1)
INSERT [dbo].[usuario] ([id], [email], [password], [nickname], [nombre], [apellido], [dni], [genero], [nro_celular], [fecha_nacimiento], [id_estado]) VALUES (3, N'administrador@gmail.com', N'1234', N'administrador', N'Ana', N'García', N'87654321', N'F', N'1199887766', CAST(N'1985-05-10' AS Date), 1)
INSERT [dbo].[usuario] ([id], [email], [password], [nickname], [nombre], [apellido], [dni], [genero], [nro_celular], [fecha_nacimiento], [id_estado]) VALUES (4, N'gerente@gmail.com', N'1234', N'gerente', N'Carlos', N'López', N'11223344', N'M', N'1133557799', CAST(N'1980-03-15' AS Date), 1)
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[vendedor] ON 

INSERT [dbo].[vendedor] ([id], [id_usuario], [cuil_vendedor]) VALUES (1, 2, N'20-40930439-8')
SET IDENTITY_INSERT [dbo].[vendedor] OFF
GO
ALTER TABLE [dbo].[administrador]  WITH CHECK ADD  CONSTRAINT [FK_administrador_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[administrador] CHECK CONSTRAINT [FK_administrador_usuario]
GO
ALTER TABLE [dbo].[detalle_factura]  WITH CHECK ADD  CONSTRAINT [FK_detalle_factura_factura] FOREIGN KEY([id_factura])
REFERENCES [dbo].[factura] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[detalle_factura] CHECK CONSTRAINT [FK_detalle_factura_factura]
GO
ALTER TABLE [dbo].[detalle_factura]  WITH CHECK ADD  CONSTRAINT [FK_detalle_factura_farmaco] FOREIGN KEY([id_farmaco])
REFERENCES [dbo].[farmaco] ([id])
GO
ALTER TABLE [dbo].[detalle_factura] CHECK CONSTRAINT [FK_detalle_factura_farmaco]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [FK_factura_estado_factura] FOREIGN KEY([id_estado_factura])
REFERENCES [dbo].[estado_factura] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [FK_factura_estado_factura]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [FK_factura_metodo_de_pago] FOREIGN KEY([id_metodo_pago])
REFERENCES [dbo].[metodo_de_pago] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [FK_factura_metodo_de_pago]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [FK_factura_vendedor] FOREIGN KEY([id_vendedor])
REFERENCES [dbo].[vendedor] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [FK_factura_vendedor]
GO
ALTER TABLE [dbo].[farmaceutico]  WITH CHECK ADD  CONSTRAINT [FK_farmaceutico_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[farmaceutico] CHECK CONSTRAINT [FK_farmaceutico_usuario]
GO
ALTER TABLE [dbo].[farmaco]  WITH CHECK ADD  CONSTRAINT [FK_farmaco_accion_terapeutica] FOREIGN KEY([id_accion_terapeutica])
REFERENCES [dbo].[accion_terapeutica] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[farmaco] CHECK CONSTRAINT [FK_farmaco_accion_terapeutica]
GO
ALTER TABLE [dbo].[farmaco]  WITH CHECK ADD  CONSTRAINT [FK_farmaco_administracion_via] FOREIGN KEY([id_administracion_via])
REFERENCES [dbo].[administracion_via] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[farmaco] CHECK CONSTRAINT [FK_farmaco_administracion_via]
GO
ALTER TABLE [dbo].[farmaco]  WITH CHECK ADD  CONSTRAINT [FK_farmaco_forma_farmaceutica] FOREIGN KEY([id_forma_farmaceutica])
REFERENCES [dbo].[forma_farmaceutica] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[farmaco] CHECK CONSTRAINT [FK_farmaco_forma_farmaceutica]
GO
ALTER TABLE [dbo].[farmaco]  WITH CHECK ADD  CONSTRAINT [FK_farmaco_origen_fuente] FOREIGN KEY([id_origen_fuente])
REFERENCES [dbo].[origen_fuente] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[farmaco] CHECK CONSTRAINT [FK_farmaco_origen_fuente]
GO
ALTER TABLE [dbo].[farmaco]  WITH CHECK ADD  CONSTRAINT [FK_farmaco_principio_activo] FOREIGN KEY([id_principio_activo])
REFERENCES [dbo].[principio_activo] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[farmaco] CHECK CONSTRAINT [FK_farmaco_principio_activo]
GO
ALTER TABLE [dbo].[farmaco]  WITH CHECK ADD  CONSTRAINT [FK_farmaco_proveedor] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[proveedor] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[farmaco] CHECK CONSTRAINT [FK_farmaco_proveedor]
GO
ALTER TABLE [dbo].[gerente]  WITH CHECK ADD  CONSTRAINT [FK_gerente_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[gerente] CHECK CONSTRAINT [FK_gerente_usuario]
GO
ALTER TABLE [dbo].[proveedor]  WITH CHECK ADD  CONSTRAINT [FK_proveedor_metodo_de_pago] FOREIGN KEY([id_metodo_pago])
REFERENCES [dbo].[metodo_de_pago] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[proveedor] CHECK CONSTRAINT [FK_proveedor_metodo_de_pago]
GO
ALTER TABLE [dbo].[proveedor]  WITH CHECK ADD  CONSTRAINT [FK_proveedor_posicion_iva] FOREIGN KEY([id_posicion_iva])
REFERENCES [dbo].[posicion_iva] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[proveedor] CHECK CONSTRAINT [FK_proveedor_posicion_iva]
GO
ALTER TABLE [dbo].[rol_permiso]  WITH CHECK ADD  CONSTRAINT [FK_rol_permiso_permiso] FOREIGN KEY([id_permiso])
REFERENCES [dbo].[permiso] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[rol_permiso] CHECK CONSTRAINT [FK_rol_permiso_permiso]
GO
ALTER TABLE [dbo].[rol_permiso]  WITH CHECK ADD  CONSTRAINT [FK_rol_permiso_rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[rol] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[rol_permiso] CHECK CONSTRAINT [FK_rol_permiso_rol]
GO
ALTER TABLE [dbo].[rol_usuario]  WITH CHECK ADD  CONSTRAINT [FK_rol_usuario_rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[rol] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[rol_usuario] CHECK CONSTRAINT [FK_rol_usuario_rol]
GO
ALTER TABLE [dbo].[rol_usuario]  WITH CHECK ADD  CONSTRAINT [FK_rol_usuario_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[rol_usuario] CHECK CONSTRAINT [FK_rol_usuario_usuario]
GO
ALTER TABLE [dbo].[sesion]  WITH CHECK ADD  CONSTRAINT [FK_sesion_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sesion] CHECK CONSTRAINT [FK_sesion_usuario]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [FK_usuario_estado] FOREIGN KEY([id_estado])
REFERENCES [dbo].[estado] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [FK_usuario_estado]
GO
ALTER TABLE [dbo].[vendedor]  WITH CHECK ADD  CONSTRAINT [FK_vendedor_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[vendedor] CHECK CONSTRAINT [FK_vendedor_usuario]
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerFarmacoPorCodigo]    Script Date: 13/6/2025 18:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ObtenerFarmacoPorCodigo]
    @codigo_farmaco VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        id,                    -- 0
        nombre_comercial,      -- 1
        codigo_farmaco,        -- 2
        precio_unidad,         -- 3
        stock                  -- 4
    FROM farmaco
    WHERE codigo_farmaco = @codigo_farmaco;
END

GO
