<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="FarmaceuticaDB" connectionString="Data Source=DESKTOP-CL7QJ67\LOCAL;Initial Catalog=proyecto_farmaceutica;Integrated Security=True;" />
	</connectionStrings>
</configuration>